.head1 {
    background-color:rgb(255, 255, 255);
    font-family: Sans-serif;
    font-size: 50px;
    text-align:center;
    color:red;
}

.C{
    color:rgb(195,0,47);
}

.S{
    color:rgb(255,209,63);
}

.T{
    color:rgb(195,0,47);
}

.U{
    color:rgb(255,209,63);
}

.from{
    size: 10px;
    background-color: rgb(0, 0, 0);
}

.fieldset{
    size: 10px;
    background-color:rgb(255, 242, 214);
}

.head2 {
    font-family: cursive ;
    font-size: 20px;
    text-align:left;
    border:Double;
    border-color:black;
    color:rgb(255, 75, 75);
}

.pic1{
    border-style:Solid;
    border-color:rgb(0, 0, 0);
}

.N{
    color:rgb(195,0,47);
}

.NN{
    color:rgb(255,209,63);
}

.IG{
    color:rgb(195,0,47);
}

.LIG{
    color:black;
}

.Tel{
    color:rgb(255,209,63);
}

.share{
    border:Solid;
    border-color:red;
}

.video{
    border-style:Solid;
    border-color:rgb(0, 0, 0);
}

.N1{
    font-family:cursive;
    color:black;
}

.Advisor{
    border: 5px solid red;
    background-color: white;
    font-family: cursive;
    font-size: 20px;
    color:black;
    padding: 5px;
 }
 
 .Activity{
     border: 5px solid red;
     background-color: white;
     font-family: cursive;
     font-size: 20px;
     color:black;
     padding: 5px;
 }

.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
.col6{width: 50%;}
.col7{width: 58.33%;}
.col8{width: 66.66%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}

@media only screen and (max-width: 768px){
    [class*="col-"]{
        width:100%
    }
}

@media only screen and (min-width: 600px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media only screen and (min-width: 768px){
    .col1{width: 8.33%;}
    .col2{width: 16.66%;}
    .col3{width: 25%;}
    .col4{width: 33.33%;}
    .col5{width: 41.66%;}
    .col6{width: 50%;}
    .col7{width: 58.33%;}
    .col8{width: 66.66%;}
    .col9{width: 75%;}
    .col10{width: 83.33%;}
    .col11{width: 91.66%;}
    .col12{width: 100%;}
}